body {
   background-color: mediumseagreen;
   color: black;
   
}

h1 { 
    color: black;
    font-size: 70px;
    text-align: center;

}

h2 {
    color: black;
    font-size: 24px;
    
}

h3 {
    color: black;
    font-size: 24px;
}
    
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

p  dl {
    color: black;
    text-align: center;
       
}

p {
    font-size: 20px;
    
}

table th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

th, td {
    padding: 15px;
    text-align: left ;
}

iframe {
    align-items: center;
}

ul, li {
    font-size: 20px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}




